.site-header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__avatar img {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    background-color: color($mainBlue a(89%) b(+3%));
    left: 0;
    right: 0;
    top: -20px;
    padding-top: 58px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
    padding-bottom: 20px;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    @mixin atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: static;
      background-color: transparent;
      float: right;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }
  }

  &__search-trigger {
    cursor: pointer;
    color: #FFF;
    font-size: 1.2rem;
    position: absolute;
    top: 6px;
    right: 16px;

    @mixin atSmall {
      top: 4px;
      font-size: 1.4rem;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-trigger {
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 46px;

    @mixin atSmall {
      top: 5px;
      font-size: 1.4rem;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__util {
    padding: 0 0 0 20px;

    @mixin atMedium {
      padding: 0;
      float: right;
    }
  }

  &__btn {
    margin-right: 20px;
    @mixin atMedium {
      float: left;
    }
  }

  .btn--with-photo {
    margin-right: 0;
  }
}




